
<%= form_for @test do |t| %>

    <div class="form-group  <%= 'has-error' if @test.errors[:name].any? %>">
      <%= t.label :name, class: 'col-sm-2 control-label' %>
      <div class="form-inline">
        <%= t.text_field :name, placeholder: 'название', class: 'form-control' %>
        <%= render 'shared/field_errors', object: @test, field_name: :name %>
      </div>
    </div>
    <div class="form-group  <%= 'has-error' if @test.errors[:description].any? %>">
      <%= t.label :description, class: 'col-sm-2 control-label' %>
      <div class="form-inline">
        <%= t.text_area :description, placeholder: 'Описание', class: 'form-control' %>
        <%= render 'shared/field_errors', object: @test, field_name: :description %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 margin-top20">
        <%= t.submit yield(:button_text), class: 'btn btn-primary' %>
        <%= link_to 'Отмена', tests_path, class: 'btn btn-danger' %>
      </div>
    </div>
<% end %>
