<!DOCTYPE html>
<html>
<head>
  <title>TestingStudent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=	 render 'layouts/navbar' %>



  <div class="container">
    <div class="margin-top60">
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
